<app-header></app-header>

<div class="bread">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{selectedCategoryName}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="page-shop-categories p-t-32 p-b-60 bg-light">
    <div class="container">


        <div class="row ">
            <div class="col-md-3">
                <div class="shop-sidebar">
                    <div class="" widget-category-container>
                        <h2 class="widget-title">
                            <span>Category</span>
                        </h2>
                        <ul class="widget-category">
                            <li>
                                <a href="javascript:void(0)" (click)="filterCategory(0)">All Products</a>
                            </li>

                            <li *ngFor="let item of categoryList">
                                <a href="javascript:void(0)" (click)="filterCategory(item.id)">
                                    {{ item.categoryName }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-box mt-4">

                        <h4>Filter by price</h4>

                        <div class="price-inputs">

                            <div class="input-group">
                                <label>Min price</label>
                                <input type="number" id="minInput" value="30">
                            </div>

                            <div class="dash">-</div>

                            <div class="input-group">
                                <label>Max price</label>
                                <input type="number" id="maxInput" value="2650">
                            </div>

                        </div>

                        <div class="range-slider">

                            <div class="slider-track"></div>

                            <input type="range" id="minRange" min="0" max="2650" value="30">

                            <input type="range" id="maxRange" min="0" max="2650" value="2650">

                        </div>

                        <div class="bottom-area">

                            <div class="price-text">
                                Price:
                                Rs<span id="minPrice">40</span>
                                —
                                Rs<span id="maxPrice">1,220</span>
                            </div>

                            </div>

                    </div>


                </div>
            </div>
            <div class="col-md-9">
                <div class="product-catg-content">
                    <div class="product-catg-head d-flex justify-content-end">
                        <div class="product-catg-head-right d-flex gap-4 align-items-center">
                            <div class="search-box">
                                <input type="text" placeholder="Search products..." (input)="onSearch($event)">
                                </div>
                        </div>
                    </div>
                    <div class="product-catg-body m-t-32">
                        <div class="row">
                            @for(product of paginatedProducts; track product.id) {
                            <div class="col-md-6 col-lg-4">
                                <app-product-card [product]="product" [isHomePage]="false"
                                    (addToCartClick)="openPopup($event)">
                                </app-product-card>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container text-center m-b-40">
    <div class="pagination-wrapper mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage - 1)">
                    Previous
                </a>
            </li>

            @for(page of totalPages; track page) {
            <li class="page-item" [class.active]="currentPage === page">
                <a class="page-link" href="javascript:void(0)" (click)="changePage(page)">
                    {{ page }}
                </a>
            </li>
            }

            <li class="page-item" [class.disabled]="currentPage === totalPages.length">
                <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage + 1)">
                    Next
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="popup-overlay" (click)="closePopup()" *ngIf="showPopup"></div>

<div class="popup-container w-520" *ngIf="showPopup">
    <div class="popup-header">
        <h4 class="mb-0 section-title"> Add To Cart</h4>
        <span class="close-btn" (click)="closePopup()">×</span>
    </div>

    <div class="popup-body">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                       <img [src]="baseUrl + '/uploads/products/' + singleProduct.productImage" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="product-single-content">
                    <h3 class="product-single-title mb-2">{{ singleProduct.productName }}</h3>

                    <h4 class="product-single-price">{{singleProduct.price}}</h4>
                    <div class="badge mb-3"
                        [ngClass]="singleProduct.stockQuantity > 0 ? 'text-bg-success' : 'text-bg-danger'">

                        {{ singleProduct.stockQuantity > 0
                        ? ('In Stock ' + singleProduct.stockQuantity)
                        : 'Out of Stock' }}

                    </div>

                    <div class="outer d-flex mt-4 gap-4 align-items-center">
                        <div class="quantity">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly>

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <button class="btn btn-primary" (click)="createCart()"
                            [disabled]="singleProduct.stockQuantity <= 0">

                            Add To Cart
                            <i class="ms-1 ri-arrow-right-long-line"></i>
                        </button>
                    </div>

                    <a [routerLink]="['/shop/shop-single', singleProduct.id]" class="btn-link mt-4 ">View Full Product<i
                            class="ms-1 ri-arrow-right-long-line"></i></a>



                </div>
            </div>
        </div>

    </div>

    <div class="popup-footer">

    </div>
    <div class="popup-toast" *ngIf="showSuccessToast">
        <i class="ri-checkbox-circle-fill"></i>
        <span>Product added to cart successfully.</span>
    </div>

</div>
<app-footer></app-footer>