<div class="body-layout">
  <!-- <div class="page-header">
    <h3 class="page-header-title">Dashboard</h3>
  </div> -->
  <div class="media-list m-t-4">
    <div class="media">
      <div class="media-icon media-icon-1">
        <i class="ri-group-line"></i>
      </div>
      <div class="featured-body">
        <div class="media-title">Sales</div>
        <div class="media-number">320</div>
        <div class="media-meta">
          <i class="ri-arrow-right-up-line me-2"></i>
          <span> +16.24 %</span>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-icon media-icon-2">
        <i class="ri-user-follow-line"></i>
      </div>
      <div class="featured-body">
        <div class="media-title">Purchase</div>
        <div class="media-number">213</div>
        <div class="media-meta media-meta-down">
          <i class="ri-arrow-right-down-line me-2"></i>
          <span> +16.24 %</span>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-icon media-icon-3">
        <i class="ri-user-minus-line"></i>
      </div>
      <div class="featured-body">
        <div class="media-title">Income</div>
        <div class="media-number">320</div>
        <div class="media-meta">
          <i class="ri-arrow-right-up-line me-2"></i>
          <span> +16.24 %</span>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-icon media-icon-4">
        <i class="ri-user-shared-2-line"></i>
      </div>
      <div class="featured-body">
        <div class="media-title">Expenses</div>
        <div class="media-number">2</div>
        <div class="media-meta">
          <i class="ri-arrow-right-up-line me-2"></i>
          <span> +16.24 %</span>
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-icon media-icon-5">
        <i class="ri-user-settings-line"></i>
      </div>
      <div class="featured-body">
        <div class="media-title">Payments</div>
        <div class="media-number">2</div>
        <div class="media-meta">
          <i class="ri-arrow-right-up-line me-2"></i>
          <span> +16.24 %</span>
        </div>
      </div>
    </div>
  </div>


</div>