@use "../abstracts/variables" as vars;
.shop-sidebar {
  background: #fff;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px;
}

.widget-category-container {
  padding: 1rem 1.5rem;
  border: 1px solid vars.$border;
}

.product-card {
  margin-bottom: 30px;
}

.product-catg-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px;
  background: #fff;
}

.prduct-catg-sort {
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
  }

  select {
    height: 30px;
    border: 1px solid vars.$border;
  }

  .sort-select {
    flex: 0 0 120px;
  }

  .show-select {
    flex: 0 0 60px;
  }
}

.product-catg-head-right {
  font-size: 1rem;
}

.def {
  flex: 0 0 50px;
}

.product-catg-body {
  .col-md-4 {
    margin-bottom: 30px;
  }
}

.widget-title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid vars.$border;
  text-transform: capitalize;
}

.widget-title span {
  position: relative;
  display: inline-block;
}

.widget-title span::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  background: vars.$secondary-500;
  height: 1px;
}

.widget-category {
  li:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: vars.$primary-500;
      padding-left: 5px;
      color: #fff;
    }

    i {
      font-size: 12px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
}

.mat-mdc-slider {
  min-width: 100% !important;
}

.search-container {
  width: 100%;
  max-width: 600px;
}

.search-box {
  position: relative;
  width: 100%;
}

.search-box input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 60px 0 25px;
  font-size: 16px;
  background: #fff;
  border: 1px solid vars.$border;
}

.search-box button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: vars.$primary-500;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: vars.$secondary-500;
}

// price filter
.filter-box {
}

.filter-box h2 {
  margin-bottom: 25px;
  color: #111;
}

.price-inputs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.input-group {
  flex: 1;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #cfd4dc;
  border-radius: 6px;
  padding: 0 14px;

  outline: none;
  background: #fff;
}

.dash {
  margin-top: 24px;
  font-size: 20px;
  color: #555;
}

.range-slider {
  position: relative;
  height: 30px;
  margin-bottom: 4px;
}

.slider-track {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 3px;
  background: vars.$grey-300;
  border-radius: 5px;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  border: none;
  pointer-events: none;
  appearance: none;
  background: none;
  top: 8px;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: vars.$grey-500;
  cursor: pointer;
}

.bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.price-text {
  font-size: 14px;
  color: vars.$grey-500;
}

.filter-btn {
  border: none;
  background: #d9d9d9;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #bdbdbd;
}

@media only screen and (max-width: 992px) {
  .product-catg-head {
    gap: 16px;
  }
}
