<div class="qr-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="qr-card">
        <h3>Welcome To</h3>
        <h1>ABC</h1>

        <div class="qr-container">
          <span class="table-badge">TABLE1</span>

          <div class="qr-box">
            <img src="assets/img/qr-code.png" alt="QR Code" />
          </div>
        </div>

        <p class="scan-text">Scan To Explore Our Menu</p>

        <div class="powered-by">
          <span>Powered By</span>

          <div class="brand">
            <img src="assets/img/logo.png" alt="Next restro" width="100px" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="qr-card">
        <h3>Welcome To</h3>
        <h1>ABC</h1>

        <div class="qr-container">
          <span class="table-badge">TABLE2</span>

          <div class="qr-box">
            <img src="assets/img/qr-code.png" alt="QR Code" />
          </div>
        </div>

        <p class="scan-text">Scan To Explore Our Menu</p>

        <div class="powered-by">
          <span>Powered By</span>

          <div class="brand">
            <img src="assets/img/logo.png" alt="Next restro" width="100px" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="qr-card">
        <h3>Welcome To</h3>
        <h1>ABC</h1>

        <div class="qr-container">
          <span class="table-badge">TABLE3</span>

          <div class="qr-box">
            <img src="assets/img/qr-code.png" alt="QR Code" />
          </div>
        </div>

        <p class="scan-text">Scan To Explore Our Menu</p>

        <div class="powered-by">
          <span>Powered By</span>

          <div class="brand">
            <img src="assets/img/logo.png" alt="Next restro" width="100px" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="qr-card">
        <h3>Welcome To</h3>
        <h1>ABC</h1>

        <div class="qr-container">
          <span class="table-badge">TABLE4</span>

          <div class="qr-box">
            <img src="assets/img/qr-code.png" alt="QR Code" />
          </div>
        </div>

        <p class="scan-text">Scan To Explore Our Menu</p>

        <div class="powered-by">
          <span>Powered By</span>

          <div class="brand">
            <img src="assets/img/logo.png" alt="Next restro" width="100px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
