<!-- sidebar-info start -->
<div class="cart-sidebar">
    <button type="button" class="cart-close-btn"><i class="fa-solid fa-xmark"></i></button>
    <h2 class="heading-title text-uppercase">Cart Items - <span>4</span></h2>
    <div class="cart-items-list">
        <div class="cart-item" *ngFor="let item of cartList">
            <div class="item-image">
                <img [src]="item.productImage" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    {{item.productName}}
                </h4>
                <span class="item-price">{{item.price}}</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>


    </div>

    <ul class="btns_group ul_li mt-4">
        <li><a routerLink="/shop/shop-cart" class="btn btn-primary">
                View Cart
            </a></li>
        <li><a routerLink="/shop/checkout" class="btn btn-secondary">
                Checkout
            </a></li>
    </ul>
</div>
<div class="body-overlay"></div>
<!-- sidebar-info end -->