<!-- sidebar-info start -->
<div class="cart-sidebar">
    <button type="button" class="cart-close-btn"><i class="fa-solid fa-xmark"></i></button>
    <h2 class="heading-title text-uppercase">Cart Items - <span>4</span></h2>
    <div class="cart-items-list">
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/product-img-1.jpg" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Aloe Vera Capsules
                </h4>
                <span class="item-price">Rs. 550.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>

        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/product-img-3.jpg" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Cordyceps Capsules
                </h4>
                <span class="item-price">Rs. 2,650.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/product-img-4.jpg" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Ganoderma Capsules
                </h4>
                <span class="item-price">Rs. 1,600.00
                </span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
    <div class="cart-item">
        <div class="item-image">
            <img src="../../../assets/img/cart-sidebar/product-img-2.jpg" alt="image_not_found">
        </div>
        <div class="item-content">
            <h4 class="item-title">
                Aloevera B
            </h4>
            <span class="item-price">Rs. 750.00</span>
            <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <div class="total_price text-uppercase">
        <span>Sub Total:</span>
        <span>$87.00</span>
    </div>
    <ul class="btns_group ul_li">
        <li><a routerLink="/shop/shop-cart" class="btn btn-primary">
                View Cart
            </a></li>
        <li><a routerLink="/shop/checkout" class="btn btn-secondary">
                Checkout
            </a></li>
    </ul>
</div>
<div class="body-overlay"></div>
<!-- sidebar-info end -->