<div class="container-fluid mt-4">
  <!-- CARD -->

  <div class="row">
    <div class="col-md-8 col-xl-9">
      <div class="filter-tabs">
        <button
          (click)="selectCategory('all')"
          [class.active]="selectedCategory === 'all'"
        >
          All
        </button>

        <button
          (click)="selectCategory('drink')"
          [class.active]="selectedCategory === 'drink'"
        >
          Drinks
        </button>

        <button
          (click)="selectCategory('food')"
          [class.active]="selectedCategory === 'food'"
        >
          Food
        </button>

        <button
          (click)="selectCategory('service')"
          [class.active]="selectedCategory === 'service'"
        >
          Services
        </button>
      </div>

      <div class="product-wrapper">
        <div
          (click)="openPopup()"
          class="product-card"
          *ngIf="selectedCategory === 'all' || selectedCategory === 'drink'"
        >
          <div class="img-wrapper">
            <img src="../../../assets/img/food-items/coke.webp" alt="" />
          </div>
          <span
            class="check-icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Veg"
          >
            <img src="../../../assets/img/neutral.webp" alt="" />
          </span>
          <h3>Coke</h3>
          <p>Rs 70</p>
          <button class="btn btn-default w-100">Add</button>
          <div class="qty-box qty-box-secondary">
            <button>-</button>
            <span>3</span>
            <button>+</button>
          </div>
        </div>

        <div
          class="product-card"
          *ngIf="selectedCategory === 'all' || selectedCategory === 'drink'"
        >
          <div class="img-wrapper">
            <img
              src="../../../assets/img/food-items/water.webp"
              alt=""
              class="mb-2"
            />
          </div>
          <span
            class="check-icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Veg"
          >
            <img src="../../../assets/img/neutral.webp" alt="" />
          </span>
          <h3>Water</h3>
          <p>Rs 30</p>
          <button class="btn btn-default w-100">Add</button>
          <!-- <div class="qty-box qty-box-secondary">
        <button>-</button>
        <span>3</span>
        <button>+</button>
      </div> -->
        </div>

        <div
          class="product-card"
          *ngIf="selectedCategory === 'all' || selectedCategory === 'food'"
        >
          <div class="img-wrapper">
            <img
              src="../../../assets/img/food-items/veg-paratha.webp"
              alt=""
              class="mb-2"
            />
          </div>
          <span
            class="check-icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Veg"
          >
            <img src="../../../assets/img/veg.webp" alt="" />
          </span>
          <h3>Veg Paratha</h3>
          <p>Rs 40</p>
          <button class="btn btn-default w-100">Add</button>
          <!-- <div class="qty-box qty-box-secondary">
        <button>-</button>
        <span>3</span>
        <button>+</button>
      </div> -->
        </div>

        <div
          class="product-card"
          *ngIf="selectedCategory === 'all' || selectedCategory === 'service'"
        >
          <div class="img-wrapper">
            <img
              src="../../../assets/img/food-items/celebration-services.webp"
              alt=""
              class="mb-2"
            />
          </div>
          <span
            class="check-icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Veg"
          >
            <img src="../../../assets/img/neutral.webp" alt="" />
          </span>
          <h3>Celebration Setup</h3>
          <p>Rs 500</p>
          <button class="btn btn-default w-100">Add</button>
          <!-- <div class="qty-box qty-box-secondary">
        <button>-</button>
        <span>3</span>
        <button>+</button>
      </div> -->
        </div>

        <div
          class="product-card"
          *ngIf="selectedCategory === 'all' || selectedCategory === 'food'"
        >
          <div class="img-wrapper">
            <img
              src="../../../assets/img/food-items/burger.webp"
              alt=""
              class="mb-2"
            />
          </div>
          <span
            class="check-icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Non Veg"
          >
            <img src="../../../assets/img/non-veg.webp" alt="" />
          </span>
          <h3>Chicken Burger</h3>
          <p>Rs 180</p>
          <button class="btn btn-default w-100">Add</button>
          <!-- <div class="qty-box qty-box-secondary">
        <button>-</button>
        <span>3</span>
        <button>+</button>
      </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-3">
      <div class="cart-container">
        <!-- Header -->
        <div class="cart-header">
          <h3 class="mb-0">Cart Items</h3>
          <div class="clear-cart">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trash2 size-3"
            >
              <path d="M3 6h18"></path>
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
              <line x1="10" x2="10" y1="11" y2="17"></line>
              <line x1="14" x2="14" y1="11" y2="17"></line>
            </svg>
            <span>Clear Cart</span>
          </div>
        </div>

        <div class="cart-body">
          <!-- Item -->
          <div class="cart-item">
            <div class="item-top">
              <img
                src="../../../assets/img/food-items/veg-paratha.webp"
                alt=""
              />

              <div class="item-info">
                <h3>Veg Paratha</h3>
                <p>&#64; Rs 350</p>
              </div>

              <div class="qty-box">
                <button>-</button>
                <span>4</span>
                <button>+</button>
              </div>
            </div>

            <div class="item-price">Rs 600</div>

            <div class="remarks">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-file-text"
              >
                <path
                  d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
                ></path>
                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                <path d="M10 9H8"></path>
                <path d="M16 13H8"></path>
                <path d="M16 17H8"></path>
              </svg>
              <input type="text" placeholder="Add Remarks to dish" />
            </div>
          </div>

          <!-- Repeat Item -->
          <div class="cart-item">
            <div class="item-top">
              <img src="../../../assets/img/food-items/water.webp" alt="" />

              <div class="item-info">
                <h3>Water</h3>
                <p>&#64; Rs 25</p>
              </div>

              <div class="qty-box">
                <button>-</button>
                <span>1</span>
                <button>+</button>
              </div>
            </div>

            <div class="item-price">Rs 25</div>

            <div class="remarks">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-file-text"
              >
                <path
                  d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
                ></path>
                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                <path d="M10 9H8"></path>
                <path d="M16 13H8"></path>
                <path d="M16 17H8"></path>
              </svg>
              <input type="text" placeholder="Add Remarks to dish" />
            </div>
          </div>

          <!-- Item -->
          <div class="cart-item">
            <div class="item-top">
              <img src="../../../assets/img/food-items/coke.webp" alt="" />

              <div class="item-info">
                <h3>Coke</h3>
                <p>&#64; Rs 60</p>
              </div>

              <div class="qty-box">
                <button>-</button>
                <span>3</span>
                <button>+</button>
              </div>
            </div>

            <div class="item-price">Rs 180</div>

            <div class="remarks">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-file-text"
              >
                <path
                  d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
                ></path>
                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                <path d="M10 9H8"></path>
                <path d="M16 13H8"></path>
                <path d="M16 17H8"></path>
              </svg>
              <input type="text" placeholder="Add Remarks to dish" />
            </div>
          </div>

          <!-- Add Remarks Button -->
          <div class="add-remarks">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-file-text"
            >
              <path
                d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
              ></path>
              <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
              <path d="M10 9H8"></path>
              <path d="M16 13H8"></path>
              <path d="M16 17H8"></path>
            </svg>
            <span> Add Remarks</span>
          </div>

          <!-- Total -->
          <div class="cart-total">
            <span>Total</span>
            <span>QTY: 8</span>
            <span class="price">Rs 805</span>
          </div>

          <!-- Bottom Actions -->
          <div class="bottom-actions">
            <div class="assign">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-user-plus size-5 ml-px text-dark-blue dark:text-white"
              >
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <line x1="19" x2="19" y1="8" y2="14"></line>
                <line x1="22" x2="16" y1="11" y2="11"></line>
              </svg>
              <span>Assign Staff</span>
            </div>
            <input type="text" placeholder="Enter No. of guests" />
          </div>

          <div class="footer-buttons">
            <button class="btn btn-default">Confirm & Print</button>
            <button class="btn btn-secondary">Confirm Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overlay -->
<div class="popup-overlay" (click)="closePopup()" *ngIf="showPopup"></div>

<!-- Popup -->
<div class="popup-container w-520" *ngIf="showPopup">
  <div class="popup-header">
    <p class="mb-0 section-title">Product Added</p>
    <span class="close-btn" (click)="closePopup()">×</span>
  </div>

  <div class="popup-body">
    <!-- Product Row -->
    <div class="product-row">
      <img src="../../../assets/img/food-items/burger.webp" alt="burger" />

      <div class="product-info">
        <h4>Chicken Burger</h4>
        <p class="price">Rs 180.0</p>
      </div>

      <div class="qty-box">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>

    <!-- Variant Section -->
    <div class="variant-section">
      <p class="section-title">Select Variant</p>

      <div class="variant-options">
        <div class="variant active">
          <h5>Small</h5>
          <span>Rs 180.0</span>
        </div>

        <div class="variant">
          <h5>Medium</h5>
          <span>Rs 250.0</span>
        </div>

        <div class="variant">
          <h5>Large</h5>
          <span>Rs 320.0</span>
        </div>
      </div>
    </div>

    <!-- Notes -->
    <div class="notes">
      <span role="img" aria-label="message" class="input-prefix opacity-50">
        <svg
          focusable="false"
          data-icon="message"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
          viewBox="64 64 896 896"
        >
          <path
            d="M464 512a48 48 0 1096 0 48 48 0 10-96 0zm200 0a48 48 0 1096 0 48 48 0 10-96 0zm-400 0a48 48 0 1096 0 48 48 0 10-96 0zm661.2-173.6c-22.6-53.7-55-101.9-96.3-143.3a444.35 444.35 0 00-143.3-96.3C630.6 75.7 572.2 64 512 64h-2c-60.6.3-119.3 12.3-174.5 35.9a445.35 445.35 0 00-142 96.5c-40.9 41.3-73 89.3-95.2 142.8-23 55.4-34.6 114.3-34.3 174.9A449.4 449.4 0 00112 714v152a46 46 0 0046 46h152.1A449.4 449.4 0 00510 960h2.1c59.9 0 118-11.6 172.7-34.3a444.48 444.48 0 00142.8-95.2c41.3-40.9 73.8-88.7 96.5-142 23.6-55.2 35.6-113.9 35.9-174.5.3-60.9-11.5-120-34.8-175.6zm-151.1 438C704 845.8 611 884 512 884h-1.7c-60.3-.3-120.2-15.3-173.1-43.5l-8.4-4.5H188V695.2l-4.5-8.4C155.3 633.9 140.3 574 140 513.7c-.4-99.7 37.7-193.3 107.6-263.8 69.8-70.5 163.1-109.5 262.8-109.9h1.7c50 0 98.5 9.7 144.2 28.9 44.6 18.7 84.6 45.6 119 80 34.3 34.3 61.3 74.4 80 119 19.4 46.2 29.1 95.2 28.9 145.8-.6 99.6-39.7 192.9-110.1 262.7z"
          ></path>
        </svg>
      </span>

      <input type="text" placeholder="Add notes to this item" />
    </div>

    <!-- Total -->
    <div class="total-row">
      <span>Total</span>
      <span class="total-price">Rs 180.0</span>
    </div>
  </div>

  <!-- Footer Buttons -->
  <div class="popup-footer">
    <button class="btn btn-default" (click)="closePopup()">Cancel</button>
    <button class="btn btn-secondary">Add</button>
  </div>
</div>
