<a href="" class="btn btn-primary"><i class="ri-arrow-left-long-line"></i> Go Back</a>

<section class="register col-10 col-xl-4 mx-auto p-t-32 module">
    <h2 class="m-b-40">Register</h2>
    <form #registerForm="ngForm">

        <!-- Username -->
        <div class="mb-3">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="service.registerModel.username"
                required>
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="service.registerModel.password"
                required>

        </div>

        <!-- Email -->
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="service.registerModel.email" required>

        </div>

        <!-- Full Name -->
        <div class="mb-3">
            <label>Full Name</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]="service.registerModel.fullName"
                required>
        </div>

        <!-- Phone -->
        <div class="mb-3">
            <label>Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="service.registerModel.phone" required>
        </div>


        <button type="submit" class="btn btn-primary  w-100" (click)="postRegister()">
            Register
        </button>
        <p class="m-t-12 text-center">If You Already have an account.
            <a routerLink="/login" class="btnLink">
                Please Login
            </a>
        </p>

    </form>

</section>