<app-header></app-header>
<!-- Hero Section -->
<section class="hero">
    <div class="overlay"></div>

    <div class="container hero-content">
        <h1>BENEFITS</h1>

        <div class="hero-wrapper">

            <!-- Left Top -->
            <div class="benefit left-top">
                <div class="arrow-line left-line"></div>
                <div class="arrow-circle"></div>

                <h2>
                    Helps prevent cancer caused
                    by free radicals.
                </h2>
            </div>

            <!-- Left Bottom -->
            <div class="benefit left-bottom">
                <div class="arrow-line left-line"></div>
                <div class="arrow-circle"></div>

                <h2>
                    Helps improve memory function
                    in Alzheimer's disease.
                </h2>
            </div>

            <!-- Product Image -->
            <div class="product-image">
                <img src="../../../assets/img/medicine.png" alt="product" width="190px">
            </div>

            <!-- Right Top -->
            <div class="benefit right-top">
                <div class="arrow-line right-line"></div>
                <div class="arrow-circle right-circle"></div>

                <h2>
                    Helps reduce joint pain and
                    is beneficial for arthritis.
                </h2>
            </div>

            <!-- Right Bottom -->
            <div class="benefit right-bottom">
                <div class="arrow-line right-line"></div>
                <div class="arrow-circle right-circle"></div>

                <h2>
                    Helps improve blood vessels
                    and reduce inflammation.
                </h2>
            </div>

        </div>
    </div>
</section>

<!-- Features Strip -->
<section class="feature-strip">
    <div class="container strip-wrapper">
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Supports Immunity & Stamina</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Doctor Formulated</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Premium Quality Formula</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Safe & Effective Formula</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Freshly Packed Products</div>
    </div>
</section>

<!-- About -->
<section class="about-section m-t-60">
    <div class="container">
        <div class="section-title center">
            <h2>
                Smriti Organic Center Provides High-Quality Organic Supplements, <span>
                    <img src="../../../assets/img/capsule.png" alt="">
                </span>
                Natural Care Products, and Professional Nutritional Support for
                Complete Wellness
            </h2>
        </div>

        <div class="counter-wrapper">
            <div class="counter-box">
                <i class="fa-regular fa-lightbulb"></i>
                <h3>15 +</h3>
                <p>Years of Experience</p>
            </div>

            <div class="counter-box">
                <i class="fa-solid fa-capsules"></i>
                <h3>3k +</h3>
                <p>Type of Medicine</p>
            </div>

            <div class="counter-box">
                <i class="fa-regular fa-user"></i>
                <h3>1M +</h3>
                <p>Happy Customer</p>
            </div>
        </div>
    </div>
</section>

<!-- Why Buy -->
<section class="why-buy m-t-60">
    <div class="container">
        <div class="section-title center">
            <h2>Why Did You Buy ?</h2>
            <p>
                You must be wondering whether the product is halal, organic and high quality? Of course.
            </p>
        </div>

        <div class="why-grid">
            <div class="why-card">
                <i class="fa-solid fa-award"></i>
                <h3>Certified Company</h3>
                <p>
                    We have obtained complete certification starting from BPOM,
                    Halal, Organic, Food Safety ISO 22000:2018 and HACCP.
                </p>
            </div>

            <div class="why-card">
                <i class="fa-solid fa-shield-heart"></i>
                <h3>Intern Organic Certified</h3>
                <p>
                    We have international organic certification from CERES from
                    Germany, starting from the garden processing to finished products.
                </p>
            </div>

            <div class="why-card">
                <i class="fa-regular fa-user"></i>
                <h3>Professional Team</h3>
                <p>
                    Our team has been directly certified as company curators so that quality assurance is very
                    well maintained.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Products -->
<section class="products bg-light m-t-60 p-t-60 p-b-32">
    <div class="container">
        <div class="section-title d-flex align-items-center justify-content-between">
            <h2 class="mb-0">Our Product</h2>
            <a routerLink="/shop/categories" class="btn btn-outline-primary d-none d-md-block">View More products <i
                    class="ri-arrow-right-long-line"></i></a>
        </div>

        <div class="row">
            @for(product of products; track product.id) {
            <div class="col-md-4 col-lg-3">
                <app-product-card [product]="product" [isHomePage]="false" (addToCartClick)="openPopup($event)">
                </app-product-card>

            </div>
            }
        </div>
    </div>
</section>

<!-- CTA -->
<section class="cta-section m-t-60">
    <div class="container cta-wrapper">
        <div class="cta-wrapper-left">
            <img src="../../../assets/img/spoon.png" alt="">
            <div class="cta-wrapper-content">
                <h2 class="mb-0">Live Healthy ?</h2>
                <p>
                    Try out our supplement & enjoy the healthiest life. Discount and soon !
                </p>
            </div>

        </div>

        <a href="#" class="btn btn-white">Purchase <i class="ri-arrow-right-long-line"></i></a>
    </div>
</section>

<!-- Banner Section -->
<section class="banner-section m-t-60">
    <div class="container banner-grid">

        <div class="large-banner">
            <img src="../../../assets/img/natural-img.jpg" alt="banner">

            <div class="banner-text">
                <h2 class="mb-10">100% Natural Ingredients</h2>
                <p>
                    May help increase energy and stamina. Can support exercise performance and endurance.
                </p>
            </div>
        </div>

        <div class="small-banner-wrapper">

            <div class="small-banner blue-bg pe-4">
                <img src="../../../assets/img/doctor1.png" alt="">
                <h3>Talk to a Health care Provider</h3>
            </div>

            <div class="small-banner orange-bg ps-md-4">
                <h3>Get Personalized advice on your medications</h3>
                <img src="../../../assets/img/hands.png" alt="">

            </div>

        </div>

    </div>
</section>

<!-- Benefits -->
<section class="benefit-section m-tb-60">
    <div class="container benefit-grid">

        <div class="benefit-content">
            <span class="tag">Best Seller</span>

            <h2>Health Benefits of Cordyceps</h2>

            <ul>
                <li>May help increase energy and stamina</li>
                <li>Can support exercise performance and endurance</li>
                <li>May reduce tiredness and fatigue</li>
                <li>Supports oxygen use in the body during workouts</li>
                <li>Contains antioxidants that may help fight cell damage</li>
                <li>May support immune system function</li>
                <li>Can help reduce inflammation in the body</li>
                <li>May support heart health and healthy cholesterol levels</li>
                <li>Could help maintain healthy blood sugar levels</li>
            </ul>
        </div>

        <div class="benefit-image">
            <img src="../../../assets/img/medicine2.jpg" alt="">
        </div>

    </div>
</section>
<app-footer></app-footer>

<!-- Overlay -->
<div class="popup-overlay" (click)="closePopup()" *ngIf="showPopup"></div>

<!-- Popup -->
<div class="popup-container w-520" *ngIf="showPopup">
    <div class="popup-header">
        <h4 class="mb-0 section-title"> Add To Cart</h4>
        <span class="close-btn" (click)="closePopup()">×</span>
    </div>

    <div class="popup-body">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                        <img [src]="singleProduct.productImageBase64" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="product-single-content">
                    <h3 class="product-single-title mb-2">{{ singleProduct.productName }}</h3>

                    <h4 class="product-single-price">{{singleProduct.price}}</h4>
                    <div class="badge text-bg-secondary mb-3">In Stock {{singleProduct.stockQuantity}}</div>

                    <div class="outer d-flex mt-4 gap-4 align-items-center">
                        <!-- <div class="quantity">
                            <div class="quantity-button minus"> - </div>
                            <input type="text" id="quantityInput" class="qtyText" name="quantityInput" min="1" max="84"
                                autocomplete="off">
                            <div class="quantity-button plus"> + </div>
                        </div> -->
                        <div class="quantity">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly>

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <button href="" class="btn btn-primary " (click)="createCart()">Add To Cart<i
                                class="ms-1 ri-arrow-right-long-line"></i></button>
                    </div>

                    <a [routerLink]="['/shop/shop-single', singleProduct.id]" class="btn-link mt-4 ">View Full Product<i
                            class="ms-1 ri-arrow-right-long-line"></i></a>



                </div>
            </div>
        </div>

    </div>

    <!-- Footer Buttons -->
    <div class="popup-footer">

    </div>
</div>