<app-header></app-header>
<!-- Hero Section -->

<div class="hero-slider hero splide" id="benefit-slider">
    <div class="overlay"></div>
    <div class="splide__track">
        <ul class="splide__list">
            <!-- Slide 1 -->
            <li class="splide__slide">
                <div class="container hero-content">
                    <h1>BENEFITS</h1>
                    <div class="hero-wrapper">
                        <!-- Left Top -->
                        <div class="benefit left-top">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>
                                Helps prevent cancer caused
                                by free radicals.
                            </h2>
                        </div>

                        <!-- Left Bottom -->
                        <div class="benefit left-bottom">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>
                                Helps improve memory function
                                in Alzheimer's disease.
                            </h2>
                        </div>

                        <!-- Product Image -->
                        <div class="product-image">
                            <img src="../../../assets/img/medicine.png" alt="product" width="190px">
                        </div>

                        <!-- Right Top -->
                        <div class="benefit right-top">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>
                                Helps reduce joint pain and
                                is beneficial for arthritis.
                            </h2>
                        </div>

                        <!-- Right Bottom -->
                        <div class="benefit right-bottom">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>
                                Helps improve blood vessels
                                and reduce inflammation.
                            </h2>
                        </div>

                    </div>
                </div>
            </li>



            <!-- Slide 2 -->
            <!-- Gcombogia -->

            <li class="splide__slide">
                <div class="container hero-content">

                    <h1>Benefits</h1>

                    <div class="hero-wrapper">

                        <!-- Left Top -->
                        <div class="benefit left-top">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Helps with weight loss.</h2>
                        </div>

                        <!-- Left Bottom -->
                        <div class="benefit left-bottom">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Helps reduce appetite and hunger.</h2>
                        </div>

                        <!-- Product -->
                        <div class="product-image">
                            <p class="mb-2 fw-semibold">
                                Beneficial for heart health.
                            </p>

                            <img src="../../../assets/img/products/gcom.png" alt="product" width="320px">
                        </div>

                        <!-- Right Top -->
                        <div class="benefit right-top">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Assists in reducing body fat.</h2>
                        </div>

                        <!-- Right Bottom -->
                        <div class="benefit right-bottom">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Boosts the immune system.</h2>
                        </div>

                    </div>
                </div>
            </li>

            <!-- Slide 3 -->
            <li class="splide__slide">
                <div class="container hero-content">

                    <h1>Benefits</h1>

                    <div class="hero-wrapper">

                        <div class="benefit left-top">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Boosts immunity and helps protect the body from diseases.</h2>
                        </div>

                        <div class="benefit left-bottom">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Helps balance healthy blood pressure.</h2>
                        </div>

                        <div class="product-image">

                            <p class="mb-2 fw-semibold">
                                Reduces stress and improves sleep.
                            </p>

                            <img src="../../../assets/img/products/gano.png" alt="product" width="290px">
                        </div>

                        <div class="benefit right-top">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Supports heart health and reduces cardiovascular risk.</h2>
                        </div>

                        <div class="benefit right-bottom">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Protects the liver and supports detoxification.</h2>
                        </div>

                    </div>
                </div>
            </li>

            <!-- Slide 4 -->
            <!-- AloeVera B (done) -->

            <li class="splide__slide">
                <div class="container hero-content">

                    <h1>Benefits</h1>

                    <div class="hero-wrapper">

                        <div class="benefit left-top">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Helps improve the digestive system.</h2>
                        </div>

                        <div class="benefit left-bottom">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Boosts the immune system.</h2>
                        </div>

                        <div class="product-image">

                            <p class="mb-2 fw-semibold">
                                Helps relieve constipation.
                            </p>

                            <img src="../../../assets/img/products/AloeVera.png" alt="product" width="290px">
                        </div>

                        <div class="benefit right-top">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Detoxifies and purifies the body.</h2>
                        </div>

                        <div class="benefit right-bottom">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Promotes healthy, glowing, youthful skin.</h2>
                        </div>

                    </div>
                </div>
            </li>

            <!--Slide 5-->
            <!-- Gingseng (done) -->

            <li class="splide__slide">
                <div class="container hero-content">

                    <h1>Benefits</h1>

                    <div class="hero-wrapper">

                        <div class="benefit left-top">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Increases energy and vitality.</h2>
                        </div>

                        <div class="benefit left-bottom">
                            <div class="arrow-line left-line"></div>
                            <div class="arrow-circle"></div>

                            <h2>Strengthens the immune system.</h2>
                        </div>

                        <div class="product-image">

                            <p class="mb-2 fw-semibold">
                                Helps reduce stress and fatigue.
                            </p>

                            <img src="../../../assets/img/products/Gingseng.png" alt="product" width="290px">
                        </div>

                        <div class="benefit right-top">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Improves memory, focus and mental performance.</h2>
                        </div>

                        <div class="benefit right-bottom">
                            <div class="arrow-line right-line"></div>
                            <div class="arrow-circle right-circle"></div>

                            <h2>Helps maintain healthy blood pressure.</h2>
                        </div>

                    </div>
                </div>
            </li>

        </ul>

    </div>

</div>



<!-- Features Strip -->
<section class="feature-strip">
    <div class="container strip-wrapper">
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">100% Natural Ingredients </div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Doctor Formulated</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Premium Quality Formula</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Safe & Effective Formula</div>
        <img src="../../../assets/img/star.png" alt="">
        <div class="strip-item">Freshly Packed Products</div>
    </div>
</section>

<!-- About -->
<section class="about-section m-t-60">
    <div class="container">
        <div class="section-title center">
            <h2>
                Smriti Organic Center Provides High-Quality Organic Supplements, <span>
                    <img src="../../../assets/img/capsule.png" alt="">
                </span>
                Natural Care Products, and Professional Nutritional Support for
                Complete Wellness
            </h2>
        </div>

        <div class="counter-wrapper">
            <div class="counter-box">
                <i class="fa-regular fa-lightbulb"></i>
                <h3>15 +</h3>
                <p>Years of Experience</p>
            </div>

            <div class="counter-box">
                <i class="fa-solid fa-capsules"></i>
                <h3>3k +</h3>
                <p>Type of Medicine</p>
            </div>

            <div class="counter-box">
                <i class="fa-regular fa-user"></i>
                <h3>1M +</h3>
                <p>Happy Customer</p>
            </div>
        </div>
    </div>
</section>

<!-- Why Buy -->
<section class="why-buy m-t-60">
    <div class="container">
        <div class="section-title center">
            <h2>Why Did You Buy ?</h2>
            <p>
                You must be wondering whether the product is halal, organic and high quality? Of course.
            </p>
        </div>

        <div class="why-grid">
            <div class="why-card">
                <i class="fa-solid fa-award"></i>
                <h3>Certified Company</h3>
                <p>
                    We have obtained complete certification starting from BPOM,
                    Halal, Organic, Food Safety ISO 22000:2018 and HACCP.
                </p>
            </div>

            <div class="why-card">
                <i class="fa-solid fa-shield-heart"></i>
                <h3>Intern Organic Certified</h3>
                <p>
                    We have international organic certification from CERES from
                    Germany, starting from the garden processing to finished products.
                </p>
            </div>

            <div class="why-card">
                <i class="fa-regular fa-user"></i>
                <h3>Professional Team</h3>
                <p>
                    Our team has been directly certified as company curators so that quality assurance is very
                    well maintained.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Products -->
<section class="products bg-light m-t-60 p-t-60 p-b-32">
    <div class="container">
        <div class="section-title d-flex align-items-center justify-content-between">
            <h2 class="mb-0">Our Product</h2>
            <a routerLink="/shop/categories" class="btn btn-outline-primary d-none d-md-block">View More products <i
                    class="ri-arrow-right-long-line"></i></a>
        </div>

        <div class="row">
            @for(product of products | slice:0:8; track product.id) {
            <div class="col-md-4 col-lg-3">
                <app-product-card [product]="product" [isHomePage]="false" (addToCartClick)="openPopup($event)">
                </app-product-card>

            </div>
            }
        </div>
    </div>
</section>

<!-- CTA -->
<section class="cta-section m-t-60">
    <div class="container">
        <div class="cta-wrapper">
            <div class="cta-wrapper-left">
                <img src="../../../assets/img/spoon.png" alt="">
                <div class="cta-wrapper-content">
                    <h2 class="mb-0">Live Healthy ?</h2>
                    <p>
                        Try out our supplement & enjoy the healthiest life. Discount and soon !
                    </p>
                </div>

            </div>

            <a href="#" class="btn btn-white">Purchase <i class="ri-arrow-right-long-line"></i></a>
        </div>
    </div>

</section>

<!-- Banner Section -->
<section class="banner-section m-t-60">
    <div class="container banner-grid">

        <div class="large-banner">
            <img src="../../../assets/img/natural-img.jpg" alt="banner">

            <div class="banner-text" style="display: none;">
                <h2 class="mb-10">100% Natural Ingredients</h2>
                <p>
                    May help increase energy and stamina. Can support exercise performance and endurance.
                </p>
            </div>
        </div>

        <div class="small-banner-wrapper">

            <!-- <div class="small-banner blue-bg pe-4"> -->
            <img src="../../../assets/img/doctor1.png" alt="">
            <!-- <h3 class="position-absolute top-50 start-50 translate-middle text-white text-center m-0">
        A Healthy Home
    </h3>            -->


            <!-- </div> -->
            <!-- 
            <div class="small-banner orange-bg ps-md-4">
                <h3>Get Personalized advice on your medications</h3>
                <img src="../../../assets/img/hands.png" alt="">

            </div> -->

        </div>

    </div>
</section>

<div class="container">
    <div class="cta-wrapper" style="transform: translateY(-70px);">
        <div class="cta-wrapper-left"><img src="../../../assets/img/heart1.png" alt="">
            <div class="cta-wrapper-content">
                <h2 class="mb-0">Wellness Starts Here....</h2>
                <p> Choose organic supplements made with care to help you stay active, balanced, and full of life.
                </p>
            </div>
        </div><a href="#" class="btn btn-white">Purchase <i class="ri-arrow-right-long-line"></i></a>
    </div>
</div>

<!-- Benefits -->
<section class="benefit-section m-b-60">
    <div class="container benefit-grid">

        <div class="benefit-content">
            <span class="tag">Why OWG Products ? </span>

            <h2>Natural Wellness for Every Lifestyle</h2>
            <p>Discover the perfect blend of nature and wellness with OWG's premium range of herbal products,
                thoughtfully crafted to support your everyday health and well-being.</p>

            <ul>
                <li>Premium Herbal Food Supplements to support daily nutrition and vitality.</li>
                <li>Natural Personal Care Products for healthy skin, hair, and complete body care.</li>
                <li>Refreshing Tea & Coffee Collection made from carefully selected natural ingredients.</li>
                <li>Quality You Can Trust, manufactured with a commitment to purity, safety, and excellence.</li>
                <li>Inspired by Nature, designed to help you and your family live a healthier lifestyle every day.</li>

            </ul>
            <p>Experience the goodness of nature in every product and make wellness a part of your daily routine with
                OWG.</p>
        </div>

        <!-- <div class="benefit-image">
            <img src="../../../assets/img/medicine2.jpg" alt="">
        </div> -->

        <div id="imgSlider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- Slide 1 -->
                    <li class="splide__slide">
                        <img src="../../../assets/img/slider/p-1.jpg" alt="product">
                        <div class="splide-caption">
                            <div class="splide-caption-inner">
                                <h2>Personal Products</h2>
                                <p>Glow Like Never Before.</p>
                                <a href="" class="btn btn-primary">Shop Now</a>
                            </div>


                        </div>

                    </li>
                    <!-- Slide 2 -->
                    <li class="splide__slide">
                        <img src="../../../assets/img/slider/p-2.jpg" alt="product">
                        <div class="splide-caption">
                            <div class=" splide-caption-inner">
                                <h2>Tea & Coffee</h2>
                                <p>Every Sip Inspires.</p>
                                <a href="" class="btn btn-primary">Shop Now</a>
                            </div>
                        </div>
                    </li>

                    <!-- Slide  -->
                    <li class="splide__slide">
                        <img src="../../../assets/img/slider/p-3.jpg" alt="product">
                        <div class=" splide-caption-inner">
                            <div class="splide-caption">
                                <h2>Supplements</h2>
                                <p>Wellness You Can Trust</p>
                                <a href="" class="btn btn-primary">Shop Now</a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

<!-- Overlay -->
<div class="popup-overlay" (click)="closePopup()" *ngIf="showPopup"></div>

<!-- Popup -->
<div class="popup-container w-520" *ngIf="showPopup">
    <div class="popup-header">
        <h4 class="mb-0 section-title"> Add To Cart</h4>
        <span class="close-btn" (click)="closePopup()">×</span>
    </div>

    <div class="popup-body">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                        <!-- <img [src]="baseUrl + "/uploads/products" + "singleProduct.productImage" alt=""> -->
                        <img [src]="baseUrl + '/uploads/products/' + singleProduct.productImage" alt="">

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="product-single-content">
                    <h3 class="product-single-title mb-2">{{ singleProduct.productName }}</h3>

                    <h4 class="product-single-price">{{singleProduct.price}}</h4>
                    <div class="badge mb-3"
                        [ngClass]="singleProduct.stockQuantity > 0 ? 'text-bg-success' : 'text-bg-danger'">

                        <!-- {{ singleProduct.stockQuantity > 0
                        ? ('In Stock ' + singleProduct.stockQuantity)
                        : 'Out of Stock' }} -->

                        {{ singleProduct.stockQuantity > 0
                        ? ('In Stock ' )
                        : 'Out of Stock' }}

                    </div>

                    <div class="outer d-flex mt-4 gap-4 align-items-center">
                        <!-- <div class="quantity">
                            <div class="quantity-button minus"> - </div>
                            <input type="text" id="quantityInput" class="qtyText" name="quantityInput" min="1" max="84"
                                autocomplete="off">
                            <div class="quantity-button plus"> + </div>
                        </div> -->
                        <div class="quantity">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly>

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <button class="btn btn-primary" (click)="createCart()"
                            [disabled]="singleProduct.stockQuantity <= 0">

                            Add To Cart
                            <i class="ms-1 fa-solid fa-basket-shopping"></i>
                        </button>
                    </div>

                    <a [routerLink]="['/shop/shop-single', singleProduct.id]" class="btn-link mt-4 ">View Full Product<i
                            class="ms-1 ri-arrow-right-long-line"></i></a>



                </div>
            </div>
        </div>

    </div>

    <!-- Footer Buttons -->
    <div class="popup-footer">

    </div>
    <!-- Success Toast -->
    <div class="popup-toast" *ngIf="showSuccessToast">
        <i class="ri-checkbox-circle-fill"></i>
        <span>Product added to cart successfully.</span>
    </div>

</div>