<app-header></app-header>

<div class="bread">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{product.productName}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<section class="page-shop-details bg-light p-t-32 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                        <!-- <img *ngIf="product?.productImageBase64"
                            [src]="'data:image/png;base64,' + product.productImageBase64" [alt]="product?.productName"> -->

                        <img [src]="product.productImageUrl" [alt]="product.title"
                            style="border-radius: 5px; object-fit: cover;" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-single-content">
                    <h3 class="product-single-title mb-3">{{product?.productName}}</h3>
                    <!-- <div class="product-single-rating m-b-24">

                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>

                    </div> -->
                    <h4 class="product-single-price">Rs {{product?.price}}</h4>
                    <div  class="badge mb-3"
                        [ngClass]="product.stockQuantity > 0 ? 'text-bg-success d-none' : 'text-bg-danger'">

                        {{ product.stockQuantity > 0
                        ? ''
                        : 'Out of Stock' }}

                    </div>
                    <div class="product-single-text">
                        <div [innerHTML]="product.shortDescription"></div>
                    </div>
                    <div class="outer d-flex mt-4 gap-4 align-items-center">
                        <div class="quantity" [ngClass]="product.stockQuantity <= 0 ? 'disabled' : ''">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly
                                [disabled]="product.stockQuantity <= 0">

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <div class="social-share">
                            <h4 class="social-share-title mb-0">Share on</h4>
                            <div class="social-share-icons">

                                <!-- WhatsApp -->
                                <a href="https://wa.me/?text=https://yourwebsite.com/current-page" target="_blank">
                                    <i class="ri-whatsapp-line"></i>
                                </a>

                                <!-- Viber -->
                                <a href="viber://forward?text=https://yourwebsite.com/current-page">
                                    <i class="fa-brands fa-viber"></i>
                                </a>

                                <!-- Facebook Share -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://yourwebsite.com/current-page"
                                    target="_blank">
                                    <i class="ri-facebook-box-line"></i>
                                </a>

                            </div>
                        </div>
                    </div>


                    <div class="btns-group m-t-24">
                        

                        <button class="btn btn-primary" (click)="createCart()"
                            [disabled]="product?.stockQuantity <= 0 || isSubmitting">

                            <!-- Loading Spinner -->
                            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1" role="status"
                                aria-hidden="true"></span>

                            <!-- Button Text -->
                            {{ isSubmitting ? 'Adding...' : 'Add To Cart' }}

                            <!-- Arrow Icon (Only show when not loading) -->
                            <i *ngIf="!isSubmitting" class="ms-1 ri-arrow-right-long-line"></i>
                        </button>

                        <!-- <a [routerLink]="['/shop/checkout']" class="btn btn-outline-primary  me-4">
                              Proceed to Checkout
                            <i class="ms-1 ri-arrow-right-long-line"></i>
                        </a> -->


                    </div>

                </div>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" class="m-t-32 product-single-tab">
            <mat-tab label="Description">
                <div class="m-t-24">
                    <section class="nutrition-section">

                        <!-- <div class="product-details" [innerHTML]="product.description"></div> -->
                        <div [innerHTML]="formattedDescription"></div>

                        <div class="large-banner large-banner--shop"><img src="../../../assets/img/natural-img.jpg"
                                alt="banner">
                            <div class="banner-text">
                                <h2 class="mb-10">100% Natural Ingredients</h2>
                                <p> May help increase energy and stamina. Can support exercise performance and
                                    endurance. </p>
                            </div>
                        </div>
                    </section>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Review">
                <div class="m-t-24">Dell 27 Curved Gaming Monitor – S2721HGF ; Diagonal Size. 27" ; Resolution / Refresh
                    Rate. Full HD
                    (1080p) 1920 x 1080 at 144 Hz ;
                    Adaptive Sync. NVIDIA</div>
            </mat-tab> -->
        </mat-tab-group>

        <!-- Related Products Section -->
        <div class="row m-t-40">
            @for(product of (relatedProducts | slice:0:4); track product.id) {
            <div class="col-md-4 col-lg-3">
                <app-product-card [product]="product" [isHomePage]="false" (addToCartClick)="openPopup($event)">
                </app-product-card>
            </div>
            } @empty {
            <div class="col-12 text-center">
                <p>No related products found.</p>
            </div>
            }
        </div>

    </div>
</section>
<app-footer></app-footer>


<div class="popup-toast" style="top:50%" *ngIf="showSuccessToast">
    <i class="ri-checkbox-circle-fill"></i>
    <span>Product added to cart successfully.</span>
</div>

<!-- Overlay -->
<!-- <div class="popup-overlay" (click)="closePopup()" *ngIf="showPopup"></div> -->

<!-- Popup -->
<!-- <div class="popup-container w-520" *ngIf="showPopup">
    <div class="popup-header">
        <h4 class="mb-0 section-title"> Add To Cart</h4>
        <span class="close-btn" (click)="closePopup()">×</span>
    </div>

    <div class="popup-body">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                        <img [src]="singleProduct.productImageBase64" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="product-single-content">
                    <h3 class="product-single-title mb-2">{{ singleProduct.productName }}</h3>

                    <h4 class="product-single-price">{{singleProduct.price}}</h4>
                    <div class="badge mb-3"
                        [ngClass]="singleProduct.stockQuantity > 0 ? 'text-bg-success' : 'text-bg-danger'">

                        {{ singleProduct.stockQuantity > 0
                        ? ('In Stock ' + singleProduct.stockQuantity)
                        : 'Out of Stock' }}

                    </div>

                    <div class="outer d-flex mt-4 gap-4 align-items-center">

                        <div class="quantity">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly>

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <button class="btn btn-primary" (click)="createCart()"
                            [disabled]="singleProduct.stockQuantity <= 0">

                            Add To Cart
                            <i class="ms-1 ri-arrow-right-long-line"></i>
                        </button>
                    </div>



                </div>
            </div>
        </div>

    </div>


    <div class="popup-footer">

    </div>
   
 

</div> -->