<app-header></app-header>

<div class="bread">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Product Single</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<section class="page-shop-details bg-light p-t-32 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="product-single-img-wrap">
                    <div class="product-single-img text-center">
                        <img *ngIf="product?.productImageBase64"
                            [src]="'data:image/png;base64,' + product.productImageBase64" [alt]="product?.productName">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-single-content">
                    <h3 class="product-single-title mb-2">{{product?.productName}}</h3>
                    <!-- <div class="product-single-rating m-b-24">

                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>

                    </div> -->
                    <h4 class="product-single-price">{{product?.price}}</h4>
                    <div class="badge text-bg-secondary mb-3">In Stock {{product?.stockQuantity}}</div>
                    <div class="product-single-text">
                        {{product?.description}}
                    </div>
                    <div class="outer d-flex mt-4 gap-4 align-items-center">
                        <div class="quantity">

                            <div class="quantity-button minus" (click)="decrease()">
                                -
                            </div>

                            <input type="text" class="qtyText" [(ngModel)]="quantity" readonly>

                            <div class="quantity-button plus" (click)="increase()">
                                +
                            </div>

                        </div>
                        <div class="social-share">
                            <h4 class="social-share-title mb-0">Share on </h4>
                            <div class="social-share-icons">
                                <i class="ri-whatsapp-line"></i>
                                <i class="ri-messenger-line"></i>
                                <i class="fa-brands fa-viber"></i>
                                <i class="ri-facebook-box-line"></i>
                            </div>

                        </div>

                    </div>


                    <div class="btns-group m-t-24">
                        <button href="" class="btn btn-primary " (click)="createCart()">
                            Add To Cart
                            <i class="ms-1 ri-arrow-right-long-line"></i></button>
                        <button href="" class="btn btn-outline-primary">Checkout<i
                                class="ms-1 ri-arrow-right-long-line"></i></button>
                    </div>

                </div>
            </div>
        </div>

        <mat-tab-group animationDuration="0ms" class="m-t-32 product-single-tab">
            <mat-tab label="Description">
                <div class="m-t-24">
                    <section class="nutrition-section">

                        <div class="column">
                            <h3>Nutritional Elements</h3>

                            <ul>
                                <li>Mangosteen</li>
                                <li>Iron</li>
                                <li>Vitamin B-6</li>
                                <li>Fiber</li>
                                <li>Potassium</li>
                                <li>Curcumin</li>
                                <li>2–6% (OWG 95%)</li>
                                <li>Antioxidant</li>
                            </ul>
                        </div>

                        <div class="column">
                            <h3>Benefits</h3>

                            <ul>
                                <li>Helps in preventing free radical damage.</li>
                                <li>Helps reduce joint pain.</li>
                                <li>Helps improve blood circulation and supports the heart.</li>
                                <li>Antioxidants help keep the skin healthy.</li>
                                <li>
                                    Helps in the formation of healthy intestinal cells and may help
                                    in relieving IBS (Irritable Bowel Syndrome).
                                </li>
                                <li>Helps support liver protection and healthy metabolism.</li>
                            </ul>
                        </div>

                    </section>
                </div>
            </mat-tab>
            <mat-tab label="Review">
                <div class="m-t-24">Dell 27 Curved Gaming Monitor – S2721HGF ; Diagonal Size. 27" ; Resolution / Refresh
                    Rate. Full HD
                    (1080p) 1920 x 1080 at 144 Hz ;
                    Adaptive Sync. NVIDIA</div>
            </mat-tab>
        </mat-tab-group>

        <div class="related-products m-t-80">
            <h2>Related Products</h2>
            <div class="row ">
                <div class="col-md-6 col-lg-3">
                    <div class="product-card">
                        <div class="product-img-holder">
                            <img src="../../../assets/img/products/product-img-1.jpg" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title">Aloe Vera Capsules</div>
                            <div class="product-price">
                                <div class="product-price-main">Rs. 550.00</div>
                                <div class="product-price-strike">Rs. 850.00</div>
                            </div>
                        </div>
                        <ul class="product-action">

                            <li>
                                <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fa-solid fa-heart"></i></a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="product-card">
                        <div class="product-img-holder">
                            <img src="../../../assets/img/products/product-img-2.jpg" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title">Aloevera B</div>
                            <div class="product-price">
                                <div class="product-price-main">Rs. 750.00</div>
                                <div class="product-price-strike">Rs. 850.00</div>
                            </div>
                        </div>
                        <ul class="product-action">

                            <li>
                                <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fa-solid fa-heart"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="product-card">
                        <div class="product-img-holder">
                            <img src="../../../assets/img/products/product-img-3.jpg" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title">Cordyceps Capsules</div>
                            <div class="product-price">
                                <div class="product-price-main">Rs. 2,650.00</div>
                                <div class="product-price-strike">Rs. 2,750.00</div>
                            </div>
                        </div>
                        <ul class="product-action">

                            <li>
                                <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fa-solid fa-heart"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="product-card">
                        <div class="product-img-holder">
                            <img src="../../../assets/img/products/product-img-4.jpg" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-title">Ganoderma Capsules</div>
                            <div class="product-price">
                                <div class="product-price-main">Rs. 1,600.00</div>
                                <div class="product-price-strike">Rs. 1,800.00</div>
                            </div>
                        </div>
                        <ul class="product-action">

                            <li>
                                <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fa-solid fa-heart"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>